* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

main {
    background-color: black;
    height: 100vh;
}

.space {
    background-color: black;
    padding: 60px;
}

header {
    display: flex;
    justify-content: space-between;
}

.logo {
    color: red;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

#hb-container {
    color: white;
}

.container {
    position: relative;

}

.container:hover .info {
    display: block;
}

.container:hover .image {
    opacity: 0.2;
}

.info {
    display: none;
    position: absolute;
    left: 40%;
    top: 40%;
    transform: translate(-50%, -50%);
}

h2, h4, h5 {
    margin-bottom: 15px;
}