* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

main {
    background-color: black;
    height: 100vh;
}

.space {
    background-color: black;
    padding: 70px;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.logo {
    color: red;
}

.search {
    margin-right: 235px;
}

.btn {
    border: green;
    border-radius: 4px;
    padding: 5px 24px;
    background-color: gray;
    font-size: 16px;
}

.btn:hover {
    background-color: lightgray;
    cursor: pointer;
}

.casella {
    height: 33px;
    margin-right: 10px;
    border-radius: 15px;
    padding-left: 20px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.container {
    position: relative;
    margin-right: 40px;
    margin-bottom: 30px;
    border: gray 0.5px solid;
    cursor: pointer;
    color: white;
}

.container:hover .info {
    display: block;
}

.container:hover .image {
    opacity: 0.2;
}

.info {
    display: none;
    position: absolute;
    left: 40%;
    top: 40%;
    transform: translate(-50%, -50%);
}

h2, h4, h5 {
    margin-bottom: 15px;
}